.gone {
  display: none !important;
}

.invisible {
  opacity: 0;
}

.opacity-fade {
  transition-duration: 150ms;
}

.contentSection {
  flex: 1;
  position: relative;

}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.click-through {
  pointer-events: none;
}

.login.container {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.exchange-title {
  flex-direction: column;
  align-items: start;
}

.larger {
  font-size: 1.25rem;
}

.exchange-card .card-footer {
  flex-direction: column;
}